* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background: url(IMG20221115193325.jpg) center no-repeat;
    background-size: cover;
    padding: 5% 10%;
    position: relative;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header,
section {
    z-index: 2;
}

header {
    width: 100%;
}

header ol {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ol li {
    padding: 0 20px;
}

header ol li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #ffee00;
    font-size: 16px;
}

header ol li a.active {
    color: #ffee00;
    position: relative;
}

header ol li a.active::after {
    content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    border-bottom: 2px solid #000000;
}

section {
    position: absolute;
    text-align: right;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}

section h4 {
    font-size: 24px;
    color: rgb(255, 0, 0);
    font-weight: 400;
}

section h1 {
    font-size: 70px;
    color: #ff0048;
    font-weight: 700;
}

section h1 span {
    font-weight: 400;
    color: #ff0000;
}

section button {
    background-color: #00f7ff;
    color: rgba(0, 0, 0, 0.8);
    /* opacity: 80%; */
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
}